# user inputs
case_path="/media/db_ubuntu/T7/Aneurysm_Workflow_FSI/cyl_test/"
mesh_path="artery_coarse_rescaled"
refined_mesh_path="artery_coarse_rescaled_refined"
dt=0.001
stride=1
save_deg=2
end_t=0.2
stride_stress=1
x_sphere=1.812470e-06
y_sphere=-6.29993e-06
z_sphere=-7.30040e-07
r_sphere=0.0034