# Compiled files
*.pyc

# Results files 
*.pvd
*.vtu
*.xml
*.xdmf
*.h5
*.npz
*.png
*.csv
*.pvtu
*.stl
*.pickle

# OS specific files
.DS_Store

# Mesh files
*.vtp
*_probe_point
*.xml
*.xml.gz

#Others
*.sh
*.json
