# user inputs
case_path="~Desktop/Aneurysm_Workflow_FSI/stenosis_test"
mesh_path="file_stenosis"
T=3.0
dt=0.001
Q_mean=1.0E-06
save_deg_sim=1
save_deg=1 # used in postprocessing, not the simulation
stride=2
start_t_ROI=0.0
end_t=0.5
x_sphere=0.003
y_sphere=0.0
z_sphere=0.0
r_sphere=0.01
bands="25,100000"
