# user inputs
workflow_location="/Users/keiyamamoto/Documents/Aneurysm_Workflow_FSI"
mesh_path="file_case9_el047"
case_path="/Users/keiyamamoto/Documents/turtleFSI_postprocess/case9_cs100_savedeg1"
refined_mesh_path="${mesh_path}_refined"
save_deg=1
dt=0.00033964286
stride_sd1=1
stride_sd2=1
start_t=0
start_t_sd1=0.951
start_t_sd2=0.951
end_t=1.902
stride_stress=1
x_sphere=0.123043
y_sphere=0.13458
z_sphere=0.064187
r_sphere=0.004
bands="95,140,350,380,490,520"