lowcut=25.0
overlapFrac=0.75
n_samples=100
window=blackmanharris
nWindow_per_sec=4
thresh_val_d=-42
max_plot_d=-30
amplitude_file_d=displacement_amplitude_25_to_100000.csv
thresh_val_wss=-18
max_plot_wss=-0
amplitude_file_wss=wss_amplitude_25_to_100000.csv
thresh_val_v=-20
max_plot_v=-7
amplitude_file_v=velocity_amplitude_25_to_100000.csv
thresh_val_p=-5
max_plot_p=5
amplitude_file_p=pressure_amplitude_25_to_100000.csv
flow_rate_file_name=MCA_10



